body {
    font-size: 20px;
    background: linear-gradient(125deg, rgb(212, 0, 255), rgb(25, 0, 255));
}

div, h1 {
    text-align: center;
}

.link-center {
    margin-left: 38rem;
}

.centered-card {
    margin: auto;
    width: 14rem;
}

button {
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 0rem;
}